body, html {
    padding: 0;
    margin: 0;
    font-family: Karla, Avenir Next;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#header {
    width: 100%;
    height: 80px;
    background-color: #f1f2f6;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header #logo {
    margin: auto 50px;
    font-size: 20px;
    font-weight: bold;
    color: #1dd1a1;
    border-bottom: solid 3px #1dd1a1;
}

#header #logo span {
    color: #5f27cd;
    border-bottom: solid 3px #5f27cd;
}

#header #nav {
    margin: auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#header #nav p {
    color: #576574;
    padding: 0 25px;
    cursor: pointer;
}

#header #user {
    margin: auto 50px;
    cursor: pointer;
}

#header #user p, #header #user i {
    font-weight: bold;
    font-size: 16px;
    color: #576574;
}

#header #user i {
    padding: 0 10px;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#sidebar {
    width: 400px;
    bottom: 0;
    top: 80px;
    left: 0;
    background-color: #f1f2f6;
    position: absolute;
    z-index: -1000;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#search-space {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#search-button {
    width: 25%;
    height: 40px;
    border-radius: 10px;
    font-family: Karla, Avenir Next;
    font-size: 16px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    background-color: #1dd1a1;
    color: white;
    margin: auto 0;
}

#search-button:hover{
    opacity: 0.75;
    transition: 0.5s;
}

#sidebar #searchbar {
    width: 65%;
    height: 40px;
    border-radius: 10px;
    text-indent: 15px;
    font-family: Karla, Avenir Next;
    font-size: 15px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    flex: 0 0 auto;
    margin: auto 0;
}

#sidebar #search-results {
    width: 100%;
    height: auto;
    overflow: scroll;
}

.res-cell {
    width: 95%;
    height: auto;
    min-height: 50px;
    background-color: #f1f2f6;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.res-cell .res-cell-text {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    padding: 0;
}

.res-cell .res-cell-desc {
    font-size: 13px;
    color: #576574;
    margin-left: 10px;
}

.res-cell .res-cell-num {
    font-size: 13px;
    color: #576574;
    margin-left: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#mapview {
    position: absolute;
    top: 80px;
    bottom: 0;
    right: 0;
    left: 400px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rebeccapurple;
    z-index: -2000;
}

#mapview p {
    color: white;
    margin: 0 auto;
}

#map {
    width: 100%;
    height: 100%;
}