body, html {
    padding: 0;
    margin: 0;
    font-family: Karla, Avenir Next;
    background-color: #EDF1F7;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #f1f2f6;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header #logo {
    margin: auto 0 auto 50px;
    font-size: 20px;
    font-weight: bold;
    color: #1dd1a1;
    border-bottom: solid 3px #1dd1a1;
}

#header #logo span {
    color: #5f27cd;
    border-bottom: solid 3px #5f27cd;
}

#header #nav {
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#header #nav p {
    color: #576574;
    padding: 0 25px;
    cursor: pointer;
}

#header #user {
    margin: auto 50px auto 0;
    cursor: pointer;
}

#header #user p, #header #user i {
    font-weight: bold;
    font-size: 16px;
    color: #576574;
}

#header #user i {
    padding: 0 10px;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#infobar {
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2000;
    background-color: #f1f2f6;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* ---------------------------------------------------------------------------------------------------------------- */

#dashboard {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EDF1F7;
    z-index: -2000;
    overflow: scroll;
    padding-bottom: 20px;
}

#serv-container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

#serv-container #serv-sandbox {
    width: 80%;
    height: 100%;
    background-color: #e7ebf0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#services-db {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    zoom: 0.8;
    background-color: #e0e1e7;
}

.serv-card {
    width: 260px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);   
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    margin: 10px auto;
    cursor: pointer;
}

.serv-card .serv-card-icon {
    font-size: 42px;
    margin: 10px 0 10px 0;
    padding: 0;
    border-radius: 100%;
}

#transport i {
    color: #54a0ff;
}

#finance i {
    color: #1dd1a1;
}

#packaging i {
    color: #feca57;
}

#advertising i {
    color: #ff6b6b;
}

.serv-card .serv-card-desc {
    padding: 0;
    margin: 0;
    font-size: 22px;
    color: #576574;
    font-weight: bold;
    padding-top: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#dashboard #inventory {
    width: 95%;
    height: auto;
    margin: 50px auto 20px auto;
    padding-bottom: 20px;
}

#inventory-header {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inventory-header #inv-title {
    font-size: 22px;
    margin: auto 3%;
}

#inventory #inventory-header #inv-upload {
    width: 125px;
    height: 45px;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);   
    font-family: Karla, Avenir Next;
    font-size: 15px;
    background-color: #1dd1a1;
    color: whitesmoke;
    font-weight: bold;
    margin: auto 3%;
    cursor: pointer;
}

#inventory #inv-db {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#inventory #inv-db {
    width: 95%;
    height: auto;
    min-height: 120px;
    margin: 10px auto 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#inventory #inv-db #spreadsheet-top {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 2000;
}

.ss-header {
    width: 25%;
    height: 100%;
    background-color: #e7ebf0;
    text-align: center;
    margin: auto 0;
}

.ss-header p {
    font-size: 18px;
    font-weight: bold;
    color: #576574;
}

#spreadsheet-cells {
    width: 100%;
    height: auto;
    background-color: #f1f2f6;
    padding: 10px 0;
}

.ss-row {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto 0;
}

.ss-row .cell {
    width: 25%;
    height: 100%;
    text-align: center;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ss-row .cell .cell-title {
    font-size: 16px;
}

.cell-status {
    width: 12px;
    height: 12px;
    margin: 0 auto;
    border-radius: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#container {
    width: 500px;
    height: auto;
    background-color: #dbdbdf;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    padding-bottom: 20px;
}

#container #selector {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#container #selector div {
    width: 33.33%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

#container #selector div p {
    font-size: 20px;
    font-weight: bold;
}

#container #selector #air {
    background-color: #1dd1a1;
    color: white;
}

#container #selector #ship {
    background-color: #5f27cd;
    color: white;
}

#container #selector #land {
    background-color: #feca57;
    color: white;
}

#container #main {
    width: 100%;
    height: 200px;
}

#container #my-loc {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#container #my-loc p {
    margin: auto 20px;
    font-size: 20px;
    font-weight: bold;
}

#container #my-loc button {
    margin: auto 20px;
    width: 150px;
    height: 40px;
    background-color: #ff6b6b;
    color: white;
    font-family: Karla;
    font-size: 16px;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;   
    cursor: pointer;
}

#container #dest-info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#container #dest-info p {
    margin: auto 20px;
    font-size: 20px;
    font-weight: bold;
}

#container #dest-info #dest-name {
    margin: auto 20px;
    width: 250px;
    height: 40px;
    font-family: Karla;
    font-size: 14px;
    text-indent: 10px;
    border: none;
    border-radius: 5px;   
    cursor: pointer;   
}

#container #weights {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#container #weights p {
    margin: auto 20px;
    font-size: 20px;
    font-weight: bold;
}

#container #weights #weight-select {
    margin: auto 20px;
    width: 150px;
    height: 40px;
    font-family: Karla;
    font-size: 14px;
    text-indent: 10px;
    border: none;
    border-radius: 10px;   
    cursor: pointer;   
}

#container #estimate {
    width: 100%;
    height: 40px;
    background-color: #54a0ff;
    color: white;
    font-family: Karla;
    font-size: 16px;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#cur-loc {
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
}

#final-est {
    width: 100%;
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;   
}