body, html {
    padding: 0;
    margin: 0;
    font-family: Karla, Avenir Next;
    background-color: #EDF1F7;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #f1f2f6;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header #logo {
    margin: auto 0 auto 50px;
    font-size: 20px;
    font-weight: bold;
    color: #1dd1a1;
    border-bottom: solid 3px #1dd1a1;
}

#header #logo span {
    color: #5f27cd;
    border-bottom: solid 3px #5f27cd;
}

#header #nav {
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#header #nav p {
    color: #576574;
    padding: 0 25px;
    cursor: pointer;
}

#header #user {
    margin: auto 50px auto 0;
    cursor: pointer;
}

#header #user p, #header #user i {
    font-weight: bold;
    font-size: 16px;
    color: #576574;
}

#header #user i {
    padding: 0 10px;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#infobar {
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2000;
    background-color: #f1f2f6;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* ---------------------------------------------------------------------------------------------------------------- */

#dashboard {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EDF1F7;
    z-index: -2000;
    overflow: scroll;
    padding-bottom: 20px;
}

#analytics {
    width: 95%;
    height: auto;
    margin: 20px auto;
}

#analytics #analytics-header {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#analytics #analytics-header #analytics-title {
    font-size: 22px;
    margin: auto 3%;
}

#analytics #analytics-db {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    zoom: 0.8;
}

.adb-card {
    width: 250px;
    height: 225px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);   
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    margin: 10px;
}

.adb-card .adb-card-icon {
    font-size: 35px;
    margin: 10px 0 10px 0;
    padding: 0;
    border-radius: 100%;
}

#total-inflow i {
    color: #54a0ff;
}

#total-outflow i {
    color: #5f27cd;
}

#sales i {
    color: #1dd1a1;
}

#mrr i {
    color: #feca57;
}

#inv i {
    color: #ff6b6b;
}

.adb-card .adb-card-metric {
    font-size: 45px;
    font-weight: 700;
    padding: 0 0 10px 0;
    margin: 0;
}

.adb-card .adb-card-desc {
    padding: 0;
    margin: 0;
    font-size: 19px;
    color: #27282b;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#sentiment {
    width: 95%;
    height: auto;
    margin: 50px auto 20px auto;
    /* padding-bottom: 20px; */
}

#sentiment #sent-header {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sentiment #sent-header #sent-title {
    font-size: 22px;
    margin: auto 3%;
}

#sentiment #sent-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    zoom: 0.8;
}

.sent-card {
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);   
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    margin: 10px;
}

.sent-card .sent-card-icon {
    font-size: 30px;
    margin: 10px 0 10px 0;
    padding: 0;
    border-radius: 100%;
}

.sent-card .sent-card-metric {
    font-size: 45px;
    font-weight: 700;
    padding: 0 0 10px 0;
    margin: 0;
}

.sent-card .sent-card-desc {
    padding: 0;
    margin: 0;
    font-size: 19px;
    color: #27282b;
}

.sent-card .sent-card-legend {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #747d8c;
    padding-top: 10px;
}

#ovrallsent i {
    color: #feca57;
}

#reviewstdy i {
    color: #1dd1a1;
}

#tweets i {
    color: #54a0ff;
}

#customer i {
    color: #5f27cd;
}

#repeating i {
    color:#ff6b6b;
}

#sent-grid {
    width: 95%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.grid-cell {
    width: 25%;
    height: 33.33%;
    padding: 0;
    margin: 0;
    background-color: #e7ebf0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.grid-cell .grid-cell-content {
    font-size: 15px;
    margin: 0 10px;
    padding: 0;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#trending {
    width: 95%;
    height: 320px;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#trending #trending-header {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#trending #trending-header #trd-title {
    font-size: 22px;
    margin: auto 3%;
}

#trd-catalogue {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
}

.trd-card {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);   
    margin: auto 20px;
    overflow: hidden;
    flex: 0 0 auto;
    scrollbar-width: none;
}

.trd-card .trd-top {
    width: 100%;
    height: 80%;
}

#trd-1 {
    width: 100%;
    height: 80%;
    background-image: url('Assets/hanford.jpg');
    background-position: center;
    background-size: cover;
}

#trd-2 {
    width: 100%;
    height: 80%;
    background-image: url('Assets/sofa2.jpeg');
    background-position: center;
    background-size: cover;
}

#trd-3 {
    width: 100%;
    height: 80%;
    background-image: url('Assets/sofa1.jpg');
    background-position: center;
    background-size: cover;
}

#trd-4 {
    width: 100%;
    height: 80%;
    background-image: url('Assets/table3.jpeg');
    background-position: center;
    background-size: cover;
}

#trd-5 {
    width: 100%;
    height: 80%;
    background-image: url('Assets/table.jpg');
    background-position: center;
    background-size: cover;
}

.trd-card .trd-bottom {
    width: 100%;
    height: 20%;
    background-color: #dbdee2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trd-card .trd-bottom p {
    margin: auto 10px;
}

.trd-card .trd-bottom .trd-title {
    font-size: 16px;
    font-weight: bold;
}

.trd-card .trd-bottom .trd-desc {
    font-size: 14px;
    color: #576574;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#inventory {
    width: 95%;
    height: auto;
    margin: 50px auto 20px auto;
    padding-bottom: 20px;
}

#inventory #inventory-header {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inventory #inventory-header #inv-title {
    font-size: 22px;
    margin: auto 3%;
}

#inventory #inventory-header #inv-upload {
    width: 125px;
    height: 45px;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);   
    font-family: Karla, Avenir Next;
    font-size: 15px;
    background-color: #1dd1a1;
    color: whitesmoke;
    font-weight: bold;
    margin: auto 3%;
    cursor: pointer;
}

#inventory #inv-db {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#inventory #inv-db {
    width: 95%;
    height: auto;
    min-height: 120px;
    margin: 10px auto 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#inventory #inv-db #spreadsheet-top {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 2000;
}

.ss-header {
    width: 25%;
    height: 100%;
    background-color: #e7ebf0;
    text-align: center;
    margin: auto 0;
}

.ss-header p {
    font-size: 18px;
    font-weight: bold;
    color: #576574;
}

#spreadsheet-cells {
    width: 100%;
    height: auto;
    background-color: #f1f2f6;
    padding: 10px 0;
}

.ss-row {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto 0;
}

.ss-row .cell {
    width: 25%;
    height: 100%;
    text-align: center;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ss-row .cell .cell-title {
    font-size: 16px;
}

.cell-status {
    width: 12px;
    height: 12px;
    margin: 0 auto;
    border-radius: 100%;
}